.idea/
.gradle/
build/
gradle/
gradlew
gradlew.bat
*.iml
*.xml
*.properties
CodingWorkout.iml
codingworkout.properties
codingworkout.xml
libs/
module_codingworkout.xml
out/production/CodingWorkout/ark/coding/Test$1.class
out/production/CodingWorkout/ark/coding/Test.class
out/